*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}

 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: 700;
     min-height: 150px;
     position: absolute;
     top: 0;
     width: 100%;
 }
 .nav-links{
     width: 700px;
     display: flex;
     justify-content: space-around;
 }
 .nav-links li{
     list-style: none;

 }
 .citeste{
    transition:ease 0.2s;
}
.citeste:hover{
    background-color: white;
    color: black;

}
 .nav-links li a{
     text-decoration: none;
     font-size: 1.3rem;
     color: white;

 }
 .icon{
     width: 100px;
     padding: 1rem;
 }
 .imagine-nav{
     width: 80px;
 }
 .burger{
     display: none;
     cursor: pointer;
 }
 .section1{
     background-image: url(./images/spacex-nave-marte.jpg);
     background-position: center;
     background-size: cover;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     color: white;
     font-family: "roboto";
     justify-content: center;
     position: relative;
     text-align: center;
 }
 .titlu{
     font-size: 6rem;
     padding: 2rem 5rem;
     
 }
 .spatiu-def{
    width: 70%;
 }
 .definitie{
     padding: 1rem 5rem;
     font-size: 2rem;
 }
 .buton{
     margin: 2rem 5rem;
    color: whitesmoke;

     
 }
 .citeste{
    color: white;
    padding: 1rem 2rem;
    border: 1px solid white;
}
.section2
{
    background-color: rgb(75, 75, 131);
    color: white;
    font-family: "Roboto";
}
.titlu1{
    font-size: 2rem;
    padding: 2rem 3rem;
}
.def1 p{
    padding: 2rem;
    font-size: 1.3rem;
}
.section3{
    background-color: rgb(226, 226, 226);
    font-family: "Roboto";
    font-weight: 700;
}
.titlu2 h2{
    padding: 2rem 3rem;
    font-size: 2rem;
}
.text2 p{
    padding: 1rem 2rem;
    font-size: 1.2rem;
}
.imagine2{
    display: flex;
    justify-content: center;
}
.imagine-racheta{
    width: 700px;
    padding: 3rem 1rem;
}
.imagine-elon{
    display: flex;
    justify-content: center;
}
.imagine-elom{
    width: 350px;
    padding: 3rem 1rem;
}
.footer{
    background-color: rgb(64, 77, 107);
    color: white;
    font-family: "Roboto";
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
}
.footer1{
    width: 100%;
    display: flex;justify-content: space-around;
    

}
.contact{
    margin-top: 1rem ;
}
.contact p{
    padding:0.2rem;
}
.firma{
    display: flex;
    justify-content: center;
    padding:1rem;
    color: rgb(182, 182, 182);
}
.icon{
    display: flex;
}
.icon a{
    color:white;
    font-size: 2rem;
    padding:1rem;
    transition: 0.5s ease-in-out;
}
.icon a:hover{
    transform: scale(1.1);
}
.quiz{
    min-height: 150px;
    background-color:rgb(95, 112, 153); 
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button-quiz{
    font-weight: 800;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    transition: 0.5s ease-in-out;
}
.button-quiz:hover{
    border: 2px solid black;
    background-color: transparent;
}